<ion-view title="Settings" id="page4" style="background-color:#08F939;">
    <ion-content padding="true" class="has-header" > 
    
        <button style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block" data-ng-click="click()">Hole 1 stats</button>
       
        
        <table border="1" style="background-color:#FFFFCC;border-collapse:collapse;border:1px solid #FFCC00;color:#000000;width:100%" cellpadding="3" cellspacing="3">
            
    <tr>
		<td>Par</td>
		<td>FIR</td>
		<td>GIR</td>
		<td>Score</td>
		<td>No. of Putts</td>
		<td>Bunkers Hit</td>
		<td>OOB</td>
	</tr>
	<tr>
		<td>{{response[0].Par}}</td>
		<td>{{response[0].FIR}}</td>
		<td>{{response[0].GIR}}</td>
		<td>{{response[0].Score}}</td>
		<td>{{response[0].puttsno}}</td>
		<td>{{response[0].bunkershit}}</td>
		<td>{{response[0].oob}}</td>
	</tr>

	<tr>
		<td>{{response[1].Par}}</td>
		<td>{{response[1].FIR}}</td>
		<td>{{response[1].GIR}}</td>
		<td>{{response[1].Score}}</td>
		<td>{{response[1].puttsno}}</td>
		<td>{{response[1].bunkershit}}</td>
		<td>{{response[1].oob}}</td>
	</tr>
	<tr>
		<td>{{response[2].Par}}</td>
		<td>{{response[2].FIR}}</td>
		<td>{{response[2].GIR}}</td>
		<td>{{response[2].Score}}</td>
		<td>{{response[2].puttsno}}</td>
		<td>{{response[2].bunkershit}}</td>
		<td>{{response[2].oob}}</td>
	</tr>
	<tr>
		<td>{{response[3].Par}}</td>
		<td>{{response[3].FIR}}</td>
		<td>{{response[3].GIR}}</td>
		<td>{{response[3].Score}}</td>
		<td>{{response[3].puttsno}}</td>
		<td>{{response[3].bunkershit}}</td>
		<td>{{response[3].oob}}</td>
	</tr>
	<tr>
		<td>{{response[4].Par}}</td>
		<td>{{response[4].FIR}}</td>
		<td>{{response[4].GIR}}</td>
		<td>{{response[4].Score}}</td>
		<td>{{response[4].puttsno}}</td>
		<td>{{response[4].bunkershit}}</td>
		<td>{{response[4].oob}}</td>
	</tr>
	<tr>
		<td>{{response[5].Par}}</td>
		<td>{{response[5].FIR}}</td>
		<td>{{response[5].GIR}}</td>
		<td>{{response[5].Score}}</td>
		<td>{{response[5].puttsno}}</td>
		<td>{{response[5].bunkershit}}</td>
		<td>{{response[5].oob}}</td>
	</tr>
	<tr>
		<td>{{response[6].Par}}</td>
		<td>{{response[6].FIR}}</td>
		<td>{{response[6].GIR}}</td>
		<td>{{response[6].Score}}</td>
		<td>{{response[6].puttsno}}</td>
		<td>{{response[6].bunkershit}}</td>
		<td>{{response[6].oob}}</td>
	</tr>
	<tr>
		<td>{{response[7].Par}}</td>
		<td>{{response[7].FIR}}</td>
		<td>{{response[7].GIR}}</td>
		<td>{{response[7].Score}}</td>
		<td>{{response[7].puttsno}}</td>
		<td>{{response[7].bunkershit}}</td>
		<td>{{response[7].oob}}</td>
	</tr>
	<tr>
		<td>{{response[8].Par}}</td>
		<td>{{response[8].FIR}}</td>
		<td>{{response[8].GIR}}</td>
		<td>{{response[8].Score}}</td>
		<td>{{response[8].puttsno}}</td>
		<td>{{response[8].bunkershit}}</td>
		<td>{{response[8].oob}}</td>
	</tr>
	<tr>
		<td>{{response[9].Par}}</td>
		<td>{{response[9].FIR}}</td>
		<td>{{response[9].GIR}}</td>
		<td>{{response[9].Score}}</td>
		<td>{{response[9].puttsno}}</td>
		<td>{{response[9].bunkershit}}</td>
		<td>{{response[9].oob}}</td>
	</tr>
	<tr>
		<td>{{response[10].Par}}</td>
		<td>{{response[10].FIR}}</td>
		<td>{{response[10].GIR}}</td>
		<td>{{response[10].Score}}</td>
		<td>{{response[10].puttsno}}</td>
		<td>{{response[10].bunkershit}}</td>
		<td>{{response[10].oob}}</td>
	</tr>
	<tr>
		<td>{{response[11].Par}}</td>
		<td>{{response[11].FIR}}</td>
		<td>{{response[11].GIR}}</td>
		<td>{{response[11].Score}}</td>
		<td>{{response[11].puttsno}}</td>
		<td>{{response[11].bunkershit}}</td>
		<td>{{response[11].oob}}</td>
	</tr>
	<tr>
		<td>{{response[12].Par}}</td>
		<td>{{response[12].FIR}}</td>
		<td>{{response[12].GIR}}</td>
		<td>{{response[12].Score}}</td>
		<td>{{response[12].puttsno}}</td>
		<td>{{response[12].bunkershit}}</td>
		<td>{{response[12].oob}}</td>
	</tr>
	<tr>
		<td>{{response[13].Par}}</td>
		<td>{{response[13].FIR}}</td>
		<td>{{response[13].GIR}}</td>
		<td>{{response[13].Score}}</td>
		<td>{{response[13].puttsno}}</td>
		<td>{{response[13].bunkershit}}</td>
		<td>{{response[13].oob}}</td>
	</tr>
	<tr>
		<td>{{response[14].Par}}</td>
		<td>{{response[14].FIR}}</td>
		<td>{{response[14].GIR}}</td>
		<td>{{response[14].Score}}</td>
		<td>{{response[14].puttsno}}</td>
		<td>{{response[14].bunkershit}}</td>
		<td>{{response[14].oob}}</td>
	</tr>
	<tr>
		<td>{{response[15].Par}}</td>
		<td>{{response[15].FIR}}</td>
		<td>{{response[15].GIR}}</td>
		<td>{{response[15].Score}}</td>
		<td>{{response[15].puttsno}}</td>
		<td>{{response[15].bunkershit}}</td>
		<td>{{response[15].oob}}</td>
	</tr>
	<tr>
		<td>{{response[16].Par}}</td>
		<td>{{response[16].FIR}}</td>
		<td>{{response[16].GIR}}</td>
		<td>{{response[16].Score}}</td>
		<td>{{response[16].puttsno}}</td>
		<td>{{response[16].bunkershit}}</td>
		<td>{{response[16].oob}}</td>
	</tr>
	<tr>
		<td>{{response[17].Par}}</td>
		<td>{{response[17].FIR}}</td>
		<td>{{response[17].GIR}}</td>
		<td>{{response[17].Score}}</td>
		<td>{{response[17].puttsno}}</td>
		<td>{{response[17].bunkershit}}</td>
		<td>{{response[17].oob}}</td>
	</tr>
	<tr>
		<td>{{response[18].Par}}</td>
		<td>{{response[18].FIR}}</td>
		<td>{{response[18].GIR}}</td>
		<td>{{response[18].Score}}</td>
		<td>{{response[18].puttsno}}</td>
		<td>{{response[18].bunkershit}}</td>
		<td>{{response[18].oob}}</td>
	</tr>
	<tr>
		<td>{{response[19].Par}}</td>
		<td>{{response[19].FIR}}</td>
		<td>{{response[19].GIR}}</td>
		<td>{{response[19].Score}}</td>
		<td>{{response[19].puttsno}}</td>
		<td>{{response[19].bunkershit}}</td>
		<td>{{response[19].oob}}</td>
	</tr>
	<tr>
		<td>{{response[20].Par}}</td>
		<td>{{response[20].FIR}}</td>
		<td>{{response[20].GIR}}</td>
		<td>{{response[20].Score}}</td>
		<td>{{response[20].puttsno}}</td>
		<td>{{response[20].bunkershit}}</td>
		<td>{{response[20].oob}}</td>
	</tr>

</table>

        
     
<!-- **************************************************************************************************************************************** -->
        
              <button style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block" data-ng-click="click2()">Hole 2 stats</button>
        
        <table border="1" style="background-color:#FFFFCC;border-collapse:collapse;border:1px solid #FFCC00;color:#000000;width:100%" cellpadding="3" cellspacing="3">
            
    <tr>
		<td>Par</td>
		<td>FIR</td>
		<td>GIR</td>
		<td>Score</td>
		<td>No. of Putts</td>
		<td>Bunkers Hit</td>
		<td>OOB</td>
	</tr>
	<tr>
		<td>{{response1[0].Par}}</td>
		<td>{{response1[0].FIR}}</td>
		<td>{{response1[0].GIR}}</td>
		<td>{{response1[0].Score}}</td>
		<td>{{response1[0].puttsno}}</td>
		<td>{{response1[0].bunkershit}}</td>
		<td>{{response1[0].oob}}</td>
	</tr>

	<tr>
		<td>{{response1[1].Par}}</td>
		<td>{{response1[1].FIR}}</td>
		<td>{{response1[1].GIR}}</td>
		<td>{{response1[1].Score}}</td>
		<td>{{response1[1].puttsno}}</td>
		<td>{{response1[1].bunkershit}}</td>
		<td>{{response1[1].oob}}</td>
	</tr>
	<tr>
		<td>{{response1[2].Par}}</td>
		<td>{{response1[2].FIR}}</td>
		<td>{{response1[2].GIR}}</td>
		<td>{{response1[2].Score}}</td>
		<td>{{response1[2].puttsno}}</td>
		<td>{{response1[2].bunkershit}}</td>
		<td>{{response1[2].oob}}</td>
	</tr>
	<tr>
		<td>{{response1[3].Par}}</td>
		<td>{{response1[3].FIR}}</td>
		<td>{{response1[3].GIR}}</td>
		<td>{{response1[3].Score}}</td>
		<td>{{response1[3].puttsno}}</td>
		<td>{{response1[3].bunkershit}}</td>
		<td>{{response1[3].oob}}</td>
	</tr>
	<tr>
		<td>{{response1[4].Par}}</td>
		<td>{{response1[4].FIR}}</td>
		<td>{{response1[4].GIR}}</td>
		<td>{{response1[4].Score}}</td>
		<td>{{response1[4].puttsno}}</td>
		<td>{{response1[4].bunkershit}}</td>
		<td>{{response1[4].oob}}</td>
	</tr>
	<tr>
		<td>{{response1[5].Par}}</td>
		<td>{{response1[5].FIR}}</td>
		<td>{{response1[5].GIR}}</td>
		<td>{{response1[5].Score}}</td>
		<td>{{response1[5].puttsno}}</td>
		<td>{{response1[5].bunkershit}}</td>
		<td>{{response1[5].oob}}</td>
	</tr>
	<tr>
		<td>{{response1[6].Par}}</td>
		<td>{{response1[6].FIR}}</td>
		<td>{{response1[6].GIR}}</td>
		<td>{{response1[6].Score}}</td>
		<td>{{response1[6].puttsno}}</td>
		<td>{{response1[6].bunkershit}}</td>
		<td>{{response1[6].oob}}</td>
	</tr>
	<tr>
		<td>{{response1[7].Par}}</td>
		<td>{{response1[7].FIR}}</td>
		<td>{{response1[7].GIR}}</td>
		<td>{{response1[7].Score}}</td>
		<td>{{response1[7].puttsno}}</td>
		<td>{{response1[7].bunkershit}}</td>
		<td>{{response1[7].oob}}</td>
	</tr>
	<tr>
		<td>{{response1[8].Par}}</td>
		<td>{{response1[8].FIR}}</td>
		<td>{{response1[8].GIR}}</td>
		<td>{{response1[8].Score}}</td>
		<td>{{response1[8].puttsno}}</td>
		<td>{{response1[8].bunkershit}}</td>
		<td>{{response1[8].oob}}</td>
	</tr>
	<tr>
		<td>{{response1[9].Par}}</td>
		<td>{{response1[9].FIR}}</td>
		<td>{{response1[9].GIR}}</td>
		<td>{{response1[9].Score}}</td>
		<td>{{response1[9].puttsno}}</td>
		<td>{{response1[9].bunkershit}}</td>
		<td>{{response1[9].oob}}</td>
	</tr>
	<tr>
		<td>{{response1[10].Par}}</td>
		<td>{{response1[10].FIR}}</td>
		<td>{{response1[10].GIR}}</td>
		<td>{{response1[10].Score}}</td>
		<td>{{response1[10].puttsno}}</td>
		<td>{{response1[10].bunkershit}}</td>
		<td>{{response1[10].oob}}</td>
	</tr>
	<tr>
		<td>{{response1[11].Par}}</td>
		<td>{{response1[11].FIR}}</td>
		<td>{{response1[11].GIR}}</td>
		<td>{{response1[11].Score}}</td>
		<td>{{response1[11].puttsno}}</td>
		<td>{{response1[11].bunkershit}}</td>
		<td>{{response1[11].oob}}</td>
	</tr>
	<tr>
		<td>{{response1[12].Par}}</td>
		<td>{{response1[12].FIR}}</td>
		<td>{{response1[12].GIR}}</td>
		<td>{{response1[12].Score}}</td>
		<td>{{response1[12].puttsno}}</td>
		<td>{{response1[12].bunkershit}}</td>
		<td>{{response1[12].oob}}</td>
	</tr>
	<tr>
		<td>{{response1[13].Par}}</td>
		<td>{{response1[13].FIR}}</td>
		<td>{{response1[13].GIR}}</td>
		<td>{{response1[13].Score}}</td>
		<td>{{response1[13].puttsno}}</td>
		<td>{{response1[13].bunkershit}}</td>
		<td>{{response1[13].oob}}</td>
	</tr>
	<tr>
		<td>{{response1[14].Par}}</td>
		<td>{{response1[14].FIR}}</td>
		<td>{{response1[14].GIR}}</td>
		<td>{{response1[14].Score}}</td>
		<td>{{response1[14].puttsno}}</td>
		<td>{{response1[14].bunkershit}}</td>
		<td>{{response1[14].oob}}</td>
	</tr>
	<tr>
		<td>{{response1[15].Par}}</td>
		<td>{{response1[15].FIR}}</td>
		<td>{{response1[15].GIR}}</td>
		<td>{{response1[15].Score}}</td>
		<td>{{response1[15].puttsno}}</td>
		<td>{{response1[15].bunkershit}}</td>
		<td>{{response1[15].oob}}</td>
	</tr>
	<tr>
		<td>{{response1[16].Par}}</td>
		<td>{{response1[16].FIR}}</td>
		<td>{{response1[16].GIR}}</td>
		<td>{{response1[16].Score}}</td>
		<td>{{response1[16].puttsno}}</td>
		<td>{{response1[16].bunkershit}}</td>
		<td>{{response1[16].oob}}</td>
	</tr>
	<tr>
		<td>{{response1[17].Par}}</td>
		<td>{{response1[17].FIR}}</td>
		<td>{{response1[17].GIR}}</td>
		<td>{{response1[17].Score}}</td>
		<td>{{response1[17].puttsno}}</td>
		<td>{{response1[17].bunkershit}}</td>
		<td>{{response1[17].oob}}</td>
	</tr>
	<tr>
		<td>{{response1[18].Par}}</td>
		<td>{{response1[18].FIR}}</td>
		<td>{{response1[18].GIR}}</td>
		<td>{{response1[18].Score}}</td>
		<td>{{response1[18].puttsno}}</td>
		<td>{{response1[18].bunkershit}}</td>
		<td>{{response1[18].oob}}</td>
	</tr>
	<tr>
		<td>{{response1[19].Par}}</td>
		<td>{{response1[19].FIR}}</td>
		<td>{{response1[19].GIR}}</td>
		<td>{{response1[19].Score}}</td>
		<td>{{response1[19].puttsno}}</td>
		<td>{{response1[19].bunkershit}}</td>
		<td>{{response1[19].oob}}</td>
	</tr>
	<tr>
		<td>{{response1[20].Par}}</td>
		<td>{{response1[20].FIR}}</td>
		<td>{{response1[20].GIR}}</td>
		<td>{{response1[20].Score}}</td>
		<td>{{response1[20].puttsno}}</td>
		<td>{{response1[20].bunkershit}}</td>
		<td>{{response1[20].oob}}</td>
	</tr>

</table>
        
<!-- **************************************************************************************************************************************** -->
        
              <button style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block" data-ng-click="click3()">Hole 3 stats</button>
        
        <table border="1" style="background-color:#FFFFCC;border-collapse:collapse;border:1px solid #FFCC00;color:#000000;width:100%" cellpadding="3" cellspacing="3">
            
    <tr>
		<td>Par</td>
		<td>FIR</td>
		<td>GIR</td>
		<td>Score</td>
		<td>No. of Putts</td>
		<td>Bunkers Hit</td>
		<td>OOB</td>
	</tr>
	<tr>
		<td>{{response2[0].Par}}</td>
		<td>{{response2[0].FIR}}</td>
		<td>{{response2[0].GIR}}</td>
		<td>{{response2[0].Score}}</td>
		<td>{{response2[0].puttsno}}</td>
		<td>{{response2[0].bunkershit}}</td>
		<td>{{response2[0].oob}}</td>
	</tr>

	<tr>
		<td>{{response2[1].Par}}</td>
		<td>{{response2[1].FIR}}</td>
		<td>{{response2[1].GIR}}</td>
		<td>{{response2[1].Score}}</td>
		<td>{{response2[1].puttsno}}</td>
		<td>{{response2[1].bunkershit}}</td>
		<td>{{response2[1].oob}}</td>
	</tr>
	<tr>
		<td>{{response2[2].Par}}</td>
		<td>{{response2[2].FIR}}</td>
		<td>{{response2[2].GIR}}</td>
		<td>{{response2[2].Score}}</td>
		<td>{{response2[2].puttsno}}</td>
		<td>{{response2[2].bunkershit}}</td>
		<td>{{response2[2].oob}}</td>
	</tr>
	<tr>
		<td>{{response2[3].Par}}</td>
		<td>{{response2[3].FIR}}</td>
		<td>{{response2[3].GIR}}</td>
		<td>{{response2[3].Score}}</td>
		<td>{{response2[3].puttsno}}</td>
		<td>{{response2[3].bunkershit}}</td>3
		<td>{{response2[3].oob}}</td>
	</tr>
	<tr>
		<td>{{response2[4].Par}}</td>
		<td>{{response2[4].FIR}}</td>
		<td>{{response2[4].GIR}}</td>
		<td>{{response2[4].Score}}</td>
		<td>{{response2[4].puttsno}}</td>
		<td>{{response2[4].bunkershit}}</td>
		<td>{{response2[4].oob}}</td>
	</tr>
	<tr>
		<td>{{response2[5].Par}}</td>
		<td>{{response2[5].FIR}}</td>
		<td>{{response2[5].GIR}}</td>
		<td>{{response2[5].Score}}</td>
		<td>{{response2[5].puttsno}}</td>
		<td>{{response2[5].bunkershit}}</td>
		<td>{{response2[5].oob}}</td>
	</tr>
	<tr>
		<td>{{response2[6].Par}}</td>
		<td>{{response2[6].FIR}}</td>
		<td>{{response2[6].GIR}}</td>
		<td>{{response2[6].Score}}</td>
		<td>{{response2[6].puttsno}}</td>
		<td>{{response2[6].bunkershit}}</td>
		<td>{{response2[6].oob}}</td>
	</tr>
	<tr>
		<td>{{response2[7].Par}}</td>
		<td>{{response2[7].FIR}}</td>
		<td>{{response2[7].GIR}}</td>
		<td>{{response2[7].Score}}</td>
		<td>{{response2[7].puttsno}}</td>
		<td>{{response2[7].bunkershit}}</td>
		<td>{{response2[7].oob}}</td>
	</tr>
	<tr>
		<td>{{response2[8].Par}}</td>
		<td>{{response2[8].FIR}}</td>
		<td>{{response2[8].GIR}}</td>
		<td>{{response2[8].Score}}</td>
		<td>{{response2[8].puttsno}}</td>
		<td>{{response2[8].bunkershit}}</td>
		<td>{{response2[8].oob}}</td>
	</tr>
	<tr>
		<td>{{response2[9].Par}}</td>
		<td>{{response2[9].FIR}}</td>
		<td>{{response2[9].GIR}}</td>
		<td>{{response2[9].Score}}</td>
		<td>{{response2[9].puttsno}}</td>
		<td>{{response2[9].bunkershit}}</td>
		<td>{{response2[9].oob}}</td>
	</tr>
	<tr>
		<td>{{response2[10].Par}}</td>
		<td>{{response2[10].FIR}}</td>
		<td>{{response2[10].GIR}}</td>
		<td>{{respons2e2[10].Score}}</td>
		<td>{{response2[10].puttsno}}</td>
		<td>{{response2[10].bunkershit}}</td>
		<td>{{response2[10].oob}}</td>
	</tr>
	<tr>
		<td>{{response2[11].Par}}</td>
		<td>{{response2[11].FIR}}</td>
		<td>{{response2[11].GIR}}</td>
		<td>{{response2[11].Score}}</td>
		<td>{{response2[11].puttsno}}</td>
		<td>{{response2[11].bunkershit}}</td>
		<td>{{response2[11].oob}}</td>
	</tr>
	<tr>
		<td>{{response2[12].Par}}</td>
		<td>{{response2[12].FIR}}</td>
		<td>{{response2[12].GIR}}</td>
		<td>{{response2[12].Score}}</td>
		<td>{{response2[12].puttsno}}</td>
		<td>{{response2[12].bunkershit}}</td>
		<td>{{response2[12].oob}}</td>
	</tr>
	<tr>
		<td>{{response2[13].Par}}</td>
		<td>{{response2[13].FIR}}</td>
		<td>{{response2[13].GIR}}</td>
		<td>{{response2[13].Score}}</td>
		<td>{{response2[13].puttsno}}</td>
		<td>{{response2[13].bunkershit}}</td>
		<td>{{response2[13].oob}}</td>
	</tr>
	<tr>
		<td>{{response2[14].Par}}</td>
		<td>{{response2[14].FIR}}</td>
		<td>{{response2[14].GIR}}</td>
		<td>{{response2[14].Score}}</td>
		<td>{{response2[14].puttsno}}</td>
		<td>{{response2[14].bunkershit}}</td>
		<td>{{response2[14].oob}}</td>
	</tr>
	<tr>
		<td>{{response2[15].Par}}</td>
		<td>{{response2[15].FIR}}</td>
		<td>{{response2[15].GIR}}</td>
		<td>{{response2[15].Score}}</td>
		<td>{{response2[15].puttsno}}</td>
		<td>{{response2[15].bunkershit}}</td>
		<td>{{response2[15].oob}}</td>
	</tr>
	<tr>
		<td>{{response2[16].Par}}</td>
		<td>{{response2[16].FIR}}</td>
		<td>{{response2[16].GIR}}</td>
		<td>{{response2[16].Score}}</td>
		<td>{{response2[16].puttsno}}</td>
		<td>{{response2[16].bunkershit}}</td>
		<td>{{response2[16].oob}}</td>
	</tr>
	<tr>
		<td>{{response2[17].Par}}</td>
		<td>{{response2[17].FIR}}</td>
		<td>{{response2[17].GIR}}</td>
		<td>{{response2[17].Score}}</td>
		<td>{{response2[17].puttsno}}</td>
		<td>{{response2[17].bunkershit}}</td>
		<td>{{response2[17].oob}}</td>
	</tr>
	<tr>
		<td>{{response2[18].Par}}</td>
		<td>{{response2[18].FIR}}</td>
		<td>{{response2[18].GIR}}</td>
		<td>{{response2[18].Score}}</td>
		<td>{{response2[18].puttsno}}</td>
		<td>{{response2[18].bunkershit}}</td>
		<td>{{response2[18].oob}}</td>
	</tr>
	<tr>
		<td>{{response2[19].Par}}</td>
		<td>{{response2[19].FIR}}</td>
		<td>{{response2[19].GIR}}</td>
		<td>{{response2[19].Score}}</td>
		<td>{{response2[19].puttsno}}</td>
		<td>{{response2[19].bunkershit}}</td>
		<td>{{response2[19].oob}}</td>
	</tr>
	<tr>
		<td>{{response2[20].Par}}</td>
		<td>{{response2[20].FIR}}</td>
		<td>{{response2[20].GIR}}</td>
		<td>{{response2[20].Score}}</td>
		<td>{{response2[20].puttsno}}</td>
		<td>{{response2[20].bunkershit}}</td>
		<td>{{response2[20].oob}}</td>
	</tr>

</table>
        
<!-- **************************************************************************************************************************************** -->
        
              <button style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block" data-ng-click="click4()">Hole 4 stats</button>
        
        <table border="1" style="background-color:#FFFFCC;border-collapse:collapse;border:1px solid #FFCC00;color:#000000;width:100%" cellpadding="3" cellspacing="3">
            
    <tr>
		<td>Par</td>
		<td>FIR</td>
		<td>GIR</td>
		<td>Score</td>
		<td>No. of Putts</td>
		<td>Bunkers Hit</td>
		<td>OOB</td>
	</tr>
	<tr>
		<td>{{response3[0].Par}}</td>
		<td>{{response3[0].FIR}}</td>
		<td>{{response3[0].GIR}}</td>
		<td>{{response3[0].Score}}</td>
		<td>{{response3[0].puttsno}}</td>
		<td>{{response3[0].bunkershit}}</td>
		<td>{{response3[0].oob}}</td>
	</tr>

	<tr>
		<td>{{response3[1].Par}}</td>
		<td>{{response3[1].FIR}}</td>
		<td>{{response3[1].GIR}}</td>
		<td>{{response3[1].Score}}</td>
		<td>{{response3[1].puttsno}}</td>
		<td>{{response3[1].bunkershit}}</td>
		<td>{{response3[1].oob}}</td>
	</tr>
	<tr>
		<td>{{response3[2].Par}}</td>
		<td>{{response3[2].FIR}}</td>
		<td>{{response3[2].GIR}}</td>
		<td>{{response3[2].Score}}</td>
		<td>{{response3[2].puttsno}}</td>
		<td>{{response3[2].bunkershit}}</td>
		<td>{{response3[2].oob}}</td>
	</tr>
	<tr>
		<td>{{response3[3].Par}}</td>
		<td>{{response3[3].FIR}}</td>
		<td>{{response3[3].GIR}}</td>
		<td>{{response3[3].Score}}</td>
		<td>{{response3[3].puttsno}}</td>
		<td>{{response3[3].bunkershit}}</td>
		<td>{{response3[3].oob}}</td>
	</tr>
	<tr>
		<td>{{response3[4].Par}}</td>
		<td>{{response3[4].FIR}}</td>
		<td>{{response3[4].GIR}}</td>
		<td>{{response3[4].Score}}</td>
		<td>{{response3[4].puttsno}}</td>
		<td>{{response3[4].bunkershit}}</td>
		<td>{{response3[4].oob}}</td>
	</tr>
	<tr>
		<td>{{response3[5].Par}}</td>
		<td>{{response3[5].FIR}}</td>
		<td>{{response3[5].GIR}}</td>
		<td>{{response3[5].Score}}</td>
		<td>{{response3[5].puttsno}}</td>
		<td>{{response3[5].bunkershit}}</td>
		<td>{{response3[5].oob}}</td>
	</tr>
	<tr>
		<td>{{response3[6].Par}}</td>
		<td>{{response3[6].FIR}}</td>
		<td>{{response3[6].GIR}}</td>
		<td>{{response3[6].Score}}</td>
		<td>{{response3[6].puttsno}}</td>
		<td>{{response3[6].bunkershit}}</td>
		<td>{{response3[6].oob}}</td>
	</tr>
	<tr>
		<td>{{response3[7].Par}}</td>
		<td>{{response3[7].FIR}}</td>
		<td>{{response3[7].GIR}}</td>
		<td>{{response3[7].Score}}</td>
		<td>{{response3[7].puttsno}}</td>
		<td>{{response3[7].bunkershit}}</td>
		<td>{{response3[7].oob}}</td>
	</tr>
	<tr>
		<td>{{response3[8].Par}}</td>
		<td>{{response3[8].FIR}}</td>
		<td>{{response3[8].GIR}}</td>
		<td>{{response3[8].Score}}</td>
		<td>{{response3[8].puttsno}}</td>
		<td>{{response3[8].bunkershit}}</td>
		<td>{{response3[8].oob}}</td>
	</tr>
	<tr>
		<td>{{response3[9].Par}}</td>
		<td>{{response3[9].FIR}}</td>
		<td>{{response3[9].GIR}}</td>
		<td>{{response3[9].Score}}</td>
		<td>{{response3[9].puttsno}}</td>
		<td>{{response3[9].bunkershit}}</td>
		<td>{{response3[9].oob}}</td>
	</tr>
	<tr>
		<td>{{response3[10].Par}}</td>
		<td>{{response3[10].FIR}}</td>
		<td>{{response3[10].GIR}}</td>
		<td>{{response3[10].Score}}</td>
		<td>{{response3[10].puttsno}}</td>
		<td>{{response3[10].bunkershit}}</td>
		<td>{{response3[10].oob}}</td>
	</tr>
	<tr>
		<td>{{response3[11].Par}}</td>
		<td>{{response3[11].FIR}}</td>
		<td>{{response3[11].GIR}}</td>
		<td>{{response3[11].Score}}</td>
		<td>{{response3[11].puttsno}}</td>
		<td>{{response3[11].bunkershit}}</td>
		<td>{{response3[11].oob}}</td>
	</tr>
	<tr>
		<td>{{response3[12].Par}}</td>
		<td>{{response3[12].FIR}}</td>
		<td>{{response3[12].GIR}}</td>
		<td>{{response3[12].Score}}</td>
		<td>{{response3[12].puttsno}}</td>
		<td>{{response3[12].bunkershit}}</td>
		<td>{{response3[12].oob}}</td>
	</tr>
	<tr>
		<td>{{response3[13].Par}}</td>
		<td>{{response3[13].FIR}}</td>
		<td>{{response3[13].GIR}}</td>
		<td>{{response3[13].Score}}</td>
		<td>{{response3[13].puttsno}}</td>
		<td>{{response3[13].bunkershit}}</td>
		<td>{{response3[13].oob}}</td>
	</tr>
	<tr>
		<td>{{response3[14].Par}}</td>
		<td>{{response3[14].FIR}}</td>
		<td>{{response3[14].GIR}}</td>
		<td>{{response3[14].Score}}</td>
		<td>{{response3[14].puttsno}}</td>
		<td>{{response3[14].bunkershit}}</td>
		<td>{{response3[14].oob}}</td>
	</tr>
	<tr>
		<td>{{response3[15].Par}}</td>
		<td>{{response3[15].FIR}}</td>
		<td>{{response3[15].GIR}}</td>
		<td>{{response3[15].Score}}</td>
		<td>{{response3[15].puttsno}}</td>
		<td>{{response3[15].bunkershit}}</td>
		<td>{{response3[15].oob}}</td>
	</tr>
	<tr>
		<td>{{response3[16].Par}}</td>
		<td>{{response3[16].FIR}}</td>
		<td>{{response3[16].GIR}}</td>
		<td>{{response3[16].Score}}</td>
		<td>{{response3[16].puttsno}}</td>
		<td>{{response3[16].bunkershit}}</td>
		<td>{{response3[16].oob}}</td>
	</tr>
	<tr>
		<td>{{response3[17].Par}}</td>
		<td>{{response3[17].FIR}}</td>
		<td>{{response3[17].GIR}}</td>
		<td>{{response3[17].Score}}</td>
		<td>{{response3[17].puttsno}}</td>
		<td>{{response3[17].bunkershit}}</td>
		<td>{{response3[17].oob}}</td>
	</tr>
	<tr>
		<td>{{response3[18].Par}}</td>
		<td>{{response3[18].FIR}}</td>
		<td>{{response3[18].GIR}}</td>
		<td>{{response3[18].Score}}</td>
		<td>{{response3[18].puttsno}}</td>
		<td>{{response3[18].bunkershit}}</td>
		<td>{{response3[18].oob}}</td>
	</tr>
	<tr>
		<td>{{response3[19].Par}}</td>
		<td>{{response3[19].FIR}}</td>
		<td>{{response3[19].GIR}}</td>
		<td>{{response3[19].Score}}</td>
		<td>{{response3[19].puttsno}}</td>
		<td>{{response3[19].bunkershit}}</td>
		<td>{{response3[19].oob}}</td>
	</tr>
	<tr>
		<td>{{response3[20].Par}}</td>
		<td>{{response3[20].FIR}}</td>
		<td>{{response3[20].GIR}}</td>
		<td>{{response3[20].Score}}</td>
		<td>{{response3[20].puttsno}}</td>
		<td>{{response3[20].bunkershit}}</td>
		<td>{{response3[20].oob}}</td>
	</tr>

</table>
        
<!-- *************************************************************************************************************************************** -->
        
        
              <button style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block" data-ng-click="click5()">Hole 5 stats</button>
        
        <table border="1" style="background-color:#FFFFCC;border-collapse:collapse;border:1px solid #FFCC00;color:#000000;width:100%" cellpadding="3" cellspacing="3">
            
    <tr>
		<td>Par</td>
		<td>FIR</td>
		<td>GIR</td>
		<td>Score</td>
		<td>No. of Putts</td>
		<td>Bunkers Hit</td>
		<td>OOB</td>
	</tr>
	<tr>
		<td>{{response4[0].Par}}</td>
		<td>{{response4[0].FIR}}</td>
		<td>{{response4[0].GIR}}</td>
		<td>{{response4[0].Score}}</td>
		<td>{{response4[0].puttsno}}</td>
		<td>{{response4[0].bunkershit}}</td>
		<td>{{response4[0].oob}}</td>
	</tr>

	<tr>
		<td>{{response4[1].Par}}</td>
		<td>{{response4[1].FIR}}</td>
		<td>{{response4[1].GIR}}</td>
		<td>{{response4[1].Score}}</td>
		<td>{{response4[1].puttsno}}</td>
		<td>{{response4[1].bunkershit}}</td>
		<td>{{response4[1].oob}}</td>
	</tr>
	<tr>
		<td>{{response4[2].Par}}</td>
		<td>{{response4[2].FIR}}</td>
		<td>{{response4[2].GIR}}</td>
		<td>{{response4[2].Score}}</td>
		<td>{{response4[2].puttsno}}</td>
		<td>{{response4[2].bunkershit}}</td>
		<td>{{response4[2].oob}}</td>
	</tr>
	<tr>
		<td>{{response4[3].Par}}</td>
		<td>{{response4[3].FIR}}</td>
		<td>{{response4[3].GIR}}</td>
		<td>{{response4[3].Score}}</td>
		<td>{{response4[3].puttsno}}</td>
		<td>{{response4[3].bunkershit}}</td>
		<td>{{response4[3].oob}}</td>
	</tr>
	<tr>
		<td>{{response4[4].Par}}</td>
		<td>{{response4[4].FIR}}</td>
		<td>{{response4[4].GIR}}</td>
		<td>{{response4[4].Score}}</td>
		<td>{{response4[4].puttsno}}</td>
		<td>{{response4[4].bunkershit}}</td>
		<td>{{response4[4].oob}}</td>
	</tr>
	<tr>
		<td>{{response4[5].Par}}</td>
		<td>{{response4[5].FIR}}</td>
		<td>{{response4[5].GIR}}</td>
		<td>{{response4[5].Score}}</td>
		<td>{{response4[5].puttsno}}</td>
		<td>{{response4[5].bunkershit}}</td>
		<td>{{response4[5].oob}}</td>
	</tr>
	<tr>
		<td>{{response4[6].Par}}</td>
		<td>{{response4[6].FIR}}</td>
		<td>{{response4[6].GIR}}</td>
		<td>{{response4[6].Score}}</td>
		<td>{{response4[6].puttsno}}</td>
		<td>{{response4[6].bunkershit}}</td>
		<td>{{response4[6].oob}}</td>
	</tr>
	<tr>
		<td>{{response4[7].Par}}</td>
		<td>{{response4[7].FIR}}</td>
		<td>{{response4[7].GIR}}</td>
		<td>{{response4[7].Score}}</td>
		<td>{{response4[7].puttsno}}</td>
		<td>{{response4[7].bunkershit}}</td>
		<td>{{response4[7].oob}}</td>
	</tr>
	<tr>
		<td>{{response4[8].Par}}</td>
		<td>{{response4[8].FIR}}</td>
		<td>{{response4[8].GIR}}</td>
		<td>{{response4[8].Score}}</td>
		<td>{{response4[8].puttsno}}</td>
		<td>{{response4[8].bunkershit}}</td>
		<td>{{response4[8].oob}}</td>
	</tr>
	<tr>
		<td>{{response4[9].Par}}</td>
		<td>{{response4[9].FIR}}</td>
		<td>{{response4[9].GIR}}</td>
		<td>{{response4[9].Score}}</td>
		<td>{{response4[9].puttsno}}</td>
		<td>{{response4[9].bunkershit}}</td>
		<td>{{response4[9].oob}}</td>
	</tr>
	<tr>
		<td>{{response4[10].Par}}</td>
		<td>{{response4[10].FIR}}</td>
		<td>{{response4[10].GIR}}</td>
		<td>{{response4[10].Score}}</td>
		<td>{{response4[10].puttsno}}</td>
		<td>{{response4[10].bunkershit}}</td>
		<td>{{response4[10].oob}}</td>
	</tr>
	<tr>
		<td>{{response4[11].Par}}</td>
		<td>{{response4[11].FIR}}</td>
		<td>{{response4[11].GIR}}</td>
		<td>{{response4[11].Score}}</td>
		<td>{{response4[11].puttsno}}</td>
		<td>{{response4[11].bunkershit}}</td>
		<td>{{response4[11].oob}}</td>
	</tr>
	<tr>
		<td>{{response4[12].Par}}</td>
		<td>{{response4[12].FIR}}</td>
		<td>{{response4[12].GIR}}</td>
		<td>{{response4[12].Score}}</td>
		<td>{{response4[12].puttsno}}</td>
		<td>{{response4[12].bunkershit}}</td>
		<td>{{response4[12].oob}}</td>
	</tr>
	<tr>
		<td>{{response4[13].Par}}</td>
		<td>{{response4[13].FIR}}</td>
		<td>{{response4[13].GIR}}</td>
		<td>{{response4[13].Score}}</td>
		<td>{{response4[13].puttsno}}</td>
		<td>{{response4[13].bunkershit}}</td>
		<td>{{response4[13].oob}}</td>
	</tr>
	<tr>
		<td>{{response4[14].Par}}</td>
		<td>{{response4[14].FIR}}</td>
		<td>{{response4[14].GIR}}</td>
		<td>{{response4[14].Score}}</td>
		<td>{{response4[14].puttsno}}</td>
		<td>{{response4[14].bunkershit}}</td>
		<td>{{response4[14].oob}}</td>
	</tr>
	<tr>
		<td>{{response4[15].Par}}</td>
		<td>{{response4[15].FIR}}</td>
		<td>{{response4[15].GIR}}</td>
		<td>{{response4[15].Score}}</td>
		<td>{{response4[15].puttsno}}</td>
		<td>{{response4[15].bunkershit}}</td>
		<td>{{response4[15].oob}}</td>
	</tr>
	<tr>
		<td>{{response4[16].Par}}</td>
		<td>{{response4[16].FIR}}</td>
		<td>{{response4[16].GIR}}</td>
		<td>{{response4[16].Score}}</td>
		<td>{{response4[16].puttsno}}</td>
		<td>{{response4[16].bunkershit}}</td>
		<td>{{response4[16].oob}}</td>
	</tr>
	<tr>
		<td>{{response4[17].Par}}</td>
		<td>{{response4[17].FIR}}</td>
		<td>{{response4[17].GIR}}</td>
		<td>{{response4[17].Score}}</td>
		<td>{{response4[17].puttsno}}</td>
		<td>{{response4[17].bunkershit}}</td>
		<td>{{response4[17].oob}}</td>
	</tr>
	<tr>
		<td>{{response4[18].Par}}</td>
		<td>{{response4[18].FIR}}</td>
		<td>{{response4[18].GIR}}</td>
		<td>{{response4[18].Score}}</td>
		<td>{{response4[18].puttsno}}</td>
		<td>{{response4[18].bunkershit}}</td>
		<td>{{response4[18].oob}}</td>
	</tr>
	<tr>
		<td>{{response4[19].Par}}</td>
		<td>{{response4[19].FIR}}</td>
		<td>{{response4[19].GIR}}</td>
		<td>{{response4[19].Score}}</td>
		<td>{{response4[19].puttsno}}</td>
		<td>{{response4[19].bunkershit}}</td>
		<td>{{response4[19].oob}}</td>
	</tr>
	<tr>
		<td>{{response4[20].Par}}</td>
		<td>{{response4[20].FIR}}</td>
		<td>{{response4[20].GIR}}</td>
		<td>{{response4[20].Score}}</td>
		<td>{{response4[20].puttsno}}</td>
		<td>{{response4[20].bunkershit}}</td>
		<td>{{response4[20].oob}}</td>
	</tr>

</table>
        
        
<!-- *****************************************************************************************************************************************-->
        
        
              <button style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block" data-ng-click="click6()">Hole 6 stats</button>
        
        <table border="1" style="background-color:#FFFFCC;border-collapse:collapse;border:1px solid #FFCC00;color:#000000;width:100%" cellpadding="3" cellspacing="3">
            
    <tr>
		<td>Par</td>
		<td>FIR</td>
		<td>GIR</td>
		<td>Score</td>
		<td>No. of Putts</td>
		<td>Bunkers Hit</td>
		<td>OOB</td>
	</tr>
	<tr>
		<td>{{response5[0].Par}}</td>
		<td>{{response5[0].FIR}}</td>
		<td>{{response5[0].GIR}}</td>
		<td>{{response5[0].Score}}</td>
		<td>{{response5[0].puttsno}}</td>
		<td>{{response5[0].bunkershit}}</td>
		<td>{{response5[0].oob}}</td>
	</tr>

	<tr>
		<td>{{response5[1].Par}}</td>
		<td>{{response5[1].FIR}}</td>
		<td>{{response5[1].GIR}}</td>
		<td>{{response5[1].Score}}</td>
		<td>{{response5[1].puttsno}}</td>
		<td>{{response5[1].bunkershit}}</td>
		<td>{{response5[1].oob}}</td>
	</tr>
	<tr>
		<td>{{response5[2].Par}}</td>
		<td>{{response5[2].FIR}}</td>
		<td>{{response5[2].GIR}}</td>
		<td>{{response5[2].Score}}</td>
		<td>{{response5[2].puttsno}}</td>
		<td>{{response5[2].bunkershit}}</td>
		<td>{{response5[2].oob}}</td>
	</tr>
	<tr>
		<td>{{response5[3].Par}}</td>
		<td>{{response5[3].FIR}}</td>
		<td>{{response5[3].GIR}}</td>
		<td>{{response5[3].Score}}</td>
		<td>{{response5[3].puttsno}}</td>
		<td>{{response5[3].bunkershit}}</td>
		<td>{{response5[3].oob}}</td>
	</tr>
	<tr>
		<td>{{response5[4].Par}}</td>
		<td>{{response5[4].FIR}}</td>
		<td>{{response5[4].GIR}}</td>
		<td>{{response5[4].Score}}</td>
		<td>{{response5[4].puttsno}}</td>
		<td>{{response5[4].bunkershit}}</td>
		<td>{{response5[4].oob}}</td>
	</tr>
	<tr>
		<td>{{response5[5].Par}}</td>
		<td>{{response5[5].FIR}}</td>
		<td>{{response5[5].GIR}}</td>
		<td>{{response5[5].Score}}</td>
		<td>{{response5[5].puttsno}}</td>
		<td>{{response5[5].bunkershit}}</td>
		<td>{{response5[5].oob}}</td>
	</tr>
	<tr>
		<td>{{response5[6].Par}}</td>
		<td>{{response5[6].FIR}}</td>
		<td>{{response5[6].GIR}}</td>
		<td>{{response5[6].Score}}</td>
		<td>{{response5[6].puttsno}}</td>
		<td>{{response5[6].bunkershit}}</td>
		<td>{{response5[6].oob}}</td>
	</tr>
	<tr>
		<td>{{response5[7].Par}}</td>
		<td>{{response5[7].FIR}}</td>
		<td>{{response5[7].GIR}}</td>
		<td>{{response5[7].Score}}</td>
		<td>{{response5[7].puttsno}}</td>
		<td>{{response5[7].bunkershit}}</td>
		<td>{{response5[7].oob}}</td>
	</tr>
	<tr>
		<td>{{response5[8].Par}}</td>
		<td>{{response5[8].FIR}}</td>
		<td>{{response5[8].GIR}}</td>
		<td>{{response5[8].Score}}</td>
		<td>{{response5[8].puttsno}}</td>
		<td>{{response5[8].bunkershit}}</td>
		<td>{{response5[8].oob}}</td>
	</tr>
	<tr>
		<td>{{response5[9].Par}}</td>
		<td>{{response5[9].FIR}}</td>
		<td>{{response5[9].GIR}}</td>
		<td>{{response5[9].Score}}</td>
		<td>{{response5[9].puttsno}}</td>
		<td>{{response5[9].bunkershit}}</td>
		<td>{{response5[9].oob}}</td>
	</tr>
	<tr>
		<td>{{response5[10].Par}}</td>
		<td>{{response5[10].FIR}}</td>
		<td>{{response5[10].GIR}}</td>
		<td>{{response5[10].Score}}</td>
		<td>{{response5[10].puttsno}}</td>
		<td>{{response5[10].bunkershit}}</td>
		<td>{{response5[10].oob}}</td>
	</tr>
	<tr>
		<td>{{response5[11].Par}}</td>
		<td>{{response5[11].FIR}}</td>
		<td>{{response5[11].GIR}}</td>
		<td>{{response5[11].Score}}</td>
		<td>{{response5[11].puttsno}}</td>
		<td>{{response5[11].bunkershit}}</td>
		<td>{{response5[11].oob}}</td>
	</tr>
	<tr>
		<td>{{response5[12].Par}}</td>
		<td>{{response5[12].FIR}}</td>
		<td>{{response5[12].GIR}}</td>
		<td>{{response5[12].Score}}</td>
		<td>{{response5[12].puttsno}}</td>
		<td>{{response5[12].bunkershit}}</td>
		<td>{{response5[12].oob}}</td>
	</tr>
	<tr>
		<td>{{response5[13].Par}}</td>
		<td>{{response5[13].FIR}}</td>
		<td>{{response5[13].GIR}}</td>
		<td>{{response5[13].Score}}</td>
		<td>{{response5[13].puttsno}}</td>
		<td>{{response5[13].bunkershit}}</td>
		<td>{{response5[13].oob}}</td>
	</tr>
	<tr>
		<td>{{response5[14].Par}}</td>
		<td>{{response5[14].FIR}}</td>
		<td>{{response5[14].GIR}}</td>
		<td>{{response5[14].Score}}</td>
		<td>{{response5[14].puttsno}}</td>
		<td>{{response5[14].bunkershit}}</td>
		<td>{{response5[14].oob}}</td>
	</tr>
	<tr>
		<td>{{response5[15].Par}}</td>
		<td>{{response5[15].FIR}}</td>
		<td>{{response5[15].GIR}}</td>
		<td>{{response5[15].Score}}</td>
		<td>{{response5[15].puttsno}}</td>
		<td>{{response5[15].bunkershit}}</td>
		<td>{{response5[15].oob}}</td>
	</tr>
	<tr>
		<td>{{response5[16].Par}}</td>
		<td>{{response5[16].FIR}}</td>
		<td>{{response5[16].GIR}}</td>
		<td>{{response5[16].Score}}</td>
		<td>{{response5[16].puttsno}}</td>
		<td>{{response5[16].bunkershit}}</td>
		<td>{{response5[16].oob}}</td>
	</tr>
	<tr>
		<td>{{response5[17].Par}}</td>
		<td>{{response5[17].FIR}}</td>
		<td>{{response5[17].GIR}}</td>
		<td>{{response5[17].Score}}</td>
		<td>{{response5[17].puttsno}}</td>
		<td>{{response5[17].bunkershit}}</td>
		<td>{{response5[17].oob}}</td>
	</tr>
	<tr>
		<td>{{response5[18].Par}}</td>
		<td>{{response5[18].FIR}}</td>
		<td>{{response5[18].GIR}}</td>
		<td>{{response5[18].Score}}</td>
		<td>{{response5[18].puttsno}}</td>
		<td>{{response5[18].bunkershit}}</td>
		<td>{{response5[18].oob}}</td>
	</tr>
	<tr>
		<td>{{response5[19].Par}}</td>
		<td>{{response5[19].FIR}}</td>
		<td>{{response5[19].GIR}}</td>
		<td>{{response5[19].Score}}</td>
		<td>{{response5[19].puttsno}}</td>
		<td>{{response5[19].bunkershit}}</td>
		<td>{{response5[19].oob}}</td>
	</tr>
	<tr>
		<td>{{response5[20].Par}}</td>
		<td>{{response5[20].FIR}}</td>
		<td>{{response5[20].GIR}}</td>
		<td>{{response5[20].Score}}</td>
		<td>{{response5[20].puttsno}}</td>
		<td>{{response5[20].bunkershit}}</td>
		<td>{{response5[20].oob}}</td>
	</tr>

</table>
        
<!-- ****************************************************************************************************************************************-->
 
      <button style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block" data-ng-click="click7()">Hole 7 stats</button>
        <p>{{response6}}</p>


<!-- ****************************************************************************************************************************************** -->
        
              <button style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block" data-ng-click="click8()">Hole 8 stats</button>
        <p>{{response7}}</p>
        
        
<!-- ****************************************************************************************************************************************** -->
              <button style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block" data-ng-click="click9()">Hole 9 stats</button>
        <p>{{response8}}</p>
        
<!-- ****************************************************************************************************************************************** -->
              <button style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block" data-ng-click="click10()">Hole 10 stats</button>
        <p>{{response9}}</p>
        
        
<!-- ****************************************************************************************************************************************** -->
              <button style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block" data-ng-click="click11()">Hole 11 stats</button>
        <p>{{response10}}</p>
        
        
<!-- ****************************************************************************************************************************************** -->
        
              <button style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block" data-ng-click="click12()">Hole 12 stats</button>
        <p>{{response11}}</p>
        
        
<!-- ****************************************************************************************************************************************** -->
              <button style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block" data-ng-click="click13()">Hole 13 stats</button>
        <p>{{response12}}</p>
        
        
<!-- ****************************************************************************************************************************************** -->
              <button style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block" data-ng-click="click14()">Hole 14 stats</button>
        <p>{{response13}}</p>
        
        
<!-- ****************************************************************************************************************************************** -->
              <button style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block" data-ng-click="click15()">Hole 15 stats</button>
        <p>{{response14}}</p>
        
        
<!-- ****************************************************************************************************************************************** -->
        
              <button style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block" data-ng-click="click16()">Hole 16 stats</button>
        <p>{{response15}}</p>
        
        
<!-- ****************************************************************************************************************************************** -->
              <button style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block" data-ng-click="click17()">Hole 17 stats</button>
        <p>{{response16}}</p>
        
        
        
<!-- ****************************************************************************************************************************************** -->
              <button style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block" data-ng-click="click18()">Hole 18 stats</button>
        <p>{{response17}}</p>
        
        
<!-- ****************************************************************************************************************************************** -->
<!-- ****************************************************************************************************************************************** -->


    
    
    
    
    
    
    </ion-content>
</ion-view>