<ion-view title="Statistics" id="page3" style="background-color:#08F939;">
    <ion-content padding="true" class="has-header">
        <h1 id="statistics-heading2" style="color:#FEFEFE;text-align:center;">Statistics</h1>
        
<!-- **************************************************************************************************************************************** -->

        
<!-- HOLE 1 -->
        <h2 id="statistics-heading3" style="color:#111AEF;">Hole 1</h2>
        <h3 id="statistics-heading4" style="color:#F4F4F4;">Par</h3>
        <form class="list">
            <label class="item item-input">
                <span class="input-label" >Par (3,4 or 5)</span>
                <input type="text" placeholder="" ng-model="details.Par">
            </label>
            
            <h3 id="statistics-heading5" style="color:#F4F4F4;">FIR</h3>
            <label class="item item-input">
                <span class="input-label">FIR</span>
                <input type="text" placeholder="" ng-model="details.fir">
            </label>
            </label>
            <h3 id="statistics-heading" style="color:#F4F4F4;">GIR</h3>
            <label class="item item-input">
                <span class="input-label">GIR</span>
                <input type="text" placeholder="" ng-model="details.gir">
            </label>
        </label>
            <h3 id="statistics-headin" style="color:#F4F4F4;">Score</h3>
            <label class="item item-input">
                <span class="input-label">Score</span>
                <input type="text" placeholder="" ng-model="details.score">
            </label>
    </label>
            <h3 id="statistics-head" style="color:#F4F4F4;">Putts</h3>
            <label class="item item-input">
                <span class="input-label">Putts</span>
                <input type="text" placeholder="" ng-model="details.puttsno">
            </label>
</label>
            <h3 id="statistics-headi" style="color:#F4F4F4;">Bunkers Hit</h3>
            <label class="item item-input">
                <span class="input-label">Bunkers Hit</span>
                <input type="text" placeholder="" ng-model="details.bunkers">
            </label>
</label>
            <h3 id="statistics-he" style="color:#F4F4F4;">OOB</h3>
            <label class="item item-input">
                <span class="input-label">OOB</span>
                <input type="text" placeholder="" ng-model="details.oob">
            </label>
        </form>
        <button style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block" data-ng-click="save()">Save</button>
        <!--<p>{{response}}</p>-->


<!-- **************************************************************************************************************************************** -->


<!-- HOLE 2 -->
        <h2 id="statistics-heading3" style="color:#111AEF;">Hole 2</h2>
        <h3 id="statistics-6" style="color:#F4F4F4;">Par</h3>
        <form class="list">
            <label class="item item-input">
                <span class="input-label" >Par (3,4 or 5)</span>
                <input type="text" placeholder="" ng-model="details.Par2">
            </label>
            
            <h3 id="statistics-5" style="color:#F4F4F4;">FIR</h3>
            <label class="item item-input">
                <span class="input-label">FIR</span>
                <input type="text" placeholder="" ng-model="details.fir2">
            </label>
            </label>
            <h3 id="statistics-4" style="color:#F4F4F4;">GIR</h3>
            <label class="item item-input">
                <span class="input-label">GIR</span>
                <input type="text" placeholder="" ng-model="details.gir2">
            </label>
        </label>
            <h3 id="statistics-3" style="color:#F4F4F4;">Score</h3>
            <label class="item item-input">
                <span class="input-label">Score</span>
                <input type="text" placeholder="" ng-model="details.score2">
            </label>
    </label>
            <h3 id="statistics-2" style="color:#F4F4F4;">Putts</h3>
            <label class="item item-input">
                <span class="input-label">Putts</span>
                <input type="text" placeholder="" ng-model="details.puttsno2">
            </label>
</label>
            <h3 id="statistics-1" style="color:#F4F4F4;">Bunkers Hit</h3>
            <label class="item item-input">
                <span class="input-label">Bunkers Hit</span>
                <input type="text" placeholder="" ng-model="details.bunkers2">
            </label>
</label>
            <h3 id="statistics-0" style="color:#F4F4F4;">OOB</h3>
            <label class="item item-input">
                <span class="input-label">OOB</span>
                <input type="text" placeholder="" ng-model="details.oob2">
            </label>
        </form>
        <button style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block" data-ng-click="save2()">Save</button>
        <!--<p>{{response2}}</p>-->



<!-- **************************************************************************************************************************************** -->



<!-- HOLE 3 -->
        <h2 id="statistics-heading3" style="color:#111AEF;">Hole 3</h2>
        <h3 id="statistics-6" style="color:#F4F4F4;">Par</h3>
        <form class="list">
            <label class="item item-input">
                <span class="input-label" >Par (3,4 or 5)</span>
                <input type="text" placeholder="" ng-model="details.Par3">
            </label>
            
            <h3 id="statistics-5" style="color:#F4F4F4;">FIR</h3>
            <label class="item item-input">
                <span class="input-label">FIR</span>
                <input type="text" placeholder="" ng-model="details.fir3">
            </label>
            </label>
            <h3 id="statistics-4" style="color:#F4F4F4;">GIR</h3>
            <label class="item item-input">
                <span class="input-label">GIR</span>
                <input type="text" placeholder="" ng-model="details.gir3">
            </label>
        </label>
            <h3 id="statistics-3" style="color:#F4F4F4;">Score</h3>
            <label class="item item-input">
                <span class="input-label">Score</span>
                <input type="text" placeholder="" ng-model="details.score3">
            </label>
    </label>
            <h3 id="statistics-2" style="color:#F4F4F4;">Putts</h3>
            <label class="item item-input">
                <span class="input-label">Putts</span>
                <input type="text" placeholder="" ng-model="details.puttsno3">
            </label>
</label>
            <h3 id="statistics-1" style="color:#F4F4F4;">Bunkers Hit</h3>
            <label class="item item-input">
                <span class="input-label">Bunkers Hit</span>
                <input type="text" placeholder="" ng-model="details.bunkers3">
            </label>
</label>
            <h3 id="statistics-0" style="color:#F4F4F4;">OOB</h3>
            <label class="item item-input">
                <span class="input-label">OOB</span>
                <input type="text" placeholder="" ng-model="details.oob3">
            </label>
        </form>
        <button style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block" data-ng-click="save3()">Save</button>
        <!--<p>{{response3}}</p>-->

<!-- **************************************************************************************************************************************** -->

<!-- HOLE 4 -->
        <h2 id="statistics-heading3" style="color:#111AEF;">Hole 4</h2>
        <h3 id="statistics-6" style="color:#F4F4F4;">Par</h3>
        <form class="list">
            <label class="item item-input">
                <span class="input-label" >Par (3,4 or 5)</span>
                <input type="text" placeholder="" ng-model="details.Par4">
            </label>
            
            <h3 id="statistics-5" style="color:#F4F4F4;">FIR</h3>
            <label class="item item-input">
                <span class="input-label">FIR</span>
                <input type="text" placeholder="" ng-model="details.fir4">
            </label>
            </label>
            <h3 id="statistics-4" style="color:#F4F4F4;">GIR</h3>
            <label class="item item-input">
                <span class="input-label">GIR</span>
                <input type="text" placeholder="" ng-model="details.gir4">
            </label>
        </label>
            <h3 id="statistics-3" style="color:#F4F4F4;">Score</h3>
            <label class="item item-input">
                <span class="input-label">Score</span>
                <input type="text" placeholder="" ng-model="details.score4">
            </label>
    </label>
            <h3 id="statistics-2" style="color:#F4F4F4;">Putts</h3>
            <label class="item item-input">
                <span class="input-label">Putts</span>
                <input type="text" placeholder="" ng-model="details.puttsno4">
            </label>
</label>
            <h3 id="statistics-1" style="color:#F4F4F4;">Bunkers Hit</h3>
            <label class="item item-input">
                <span class="input-label">Bunkers Hit</span>
                <input type="text" placeholder="" ng-model="details.bunkers4">
            </label>
</label>
            <h3 id="statistics-0" style="color:#F4F4F4;">OOB</h3>
            <label class="item item-input">
                <span class="input-label">OOB</span>
                <input type="text" placeholder="" ng-model="details.oob4">
            </label>
        </form>
        <button style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block" data-ng-click="save4()">Save</button>
        <!--<p>{{response4}}</p>-->
<!-- **************************************************************************************************************************************** -->

<!-- HOLE 5 -->
        <h2 id="statistics-heading3" style="color:#111AEF;">Hole 5</h2>
        <h3 id="statistics-6" style="color:#F4F4F4;">Par</h3>
        <form class="list">
            <label class="item item-input">
                <span class="input-label" >Par (3,4 or 5)</span>
                <input type="text" placeholder="" ng-model="details.Par5">
            </label>
            
            <h3 id="statistics-5" style="color:#F4F4F4;">FIR</h3>
            <label class="item item-input">
                <span class="input-label">FIR</span>
                <input type="text" placeholder="" ng-model="details.fir5">
            </label>
            </label>
            <h3 id="statistics-4" style="color:#F4F4F4;">GIR</h3>
            <label class="item item-input">
                <span class="input-label">GIR</span>
                <input type="text" placeholder="" ng-model="details.gir5">
            </label>
        </label>
            <h3 id="statistics-3" style="color:#F4F4F4;">Score</h3>
            <label class="item item-input">
                <span class="input-label">Score</span>
                <input type="text" placeholder="" ng-model="details.score5">
            </label>
    </label>
            <h3 id="statistics-2" style="color:#F4F4F4;">Putts</h3>
            <label class="item item-input">
                <span class="input-label">Putts</span>
                <input type="text" placeholder="" ng-model="details.puttsno5">
            </label>
</label>
            <h3 id="statistics-1" style="color:#F4F4F4;">Bunkers Hit</h3>
            <label class="item item-input">
                <span class="input-label">Bunkers Hit</span>
                <input type="text" placeholder="" ng-model="details.bunkers5">
            </label>
</label>
            <h3 id="statistics-0" style="color:#F4F4F4;">OOB</h3>
            <label class="item item-input">
                <span class="input-label">OOB</span>
                <input type="text" placeholder="" ng-model="details.oob5">
            </label>
        </form>
        <button style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block" data-ng-click="save5()">Save</button>
        <!--<p>{{response5}}</p>-->

<!-- **************************************************************************************************************************************** -->

<!-- HOLE 6 -->
        <h2 id="statistics-heading3" style="color:#111AEF;">Hole 6</h2>
        <h3 id="statistics-6" style="color:#F4F4F4;">Par</h3>
        <form class="list">
            <label class="item item-input">
                <span class="input-label" >Par (3,4 or 5)</span>
                <input type="text" placeholder="" ng-model="details.Par6">
            </label>
            
            <h3 id="statistics-5" style="color:#F4F4F4;">FIR</h3>
            <label class="item item-input">
                <span class="input-label">FIR</span>
                <input type="text" placeholder="" ng-model="details.fir6">
            </label>
            </label>
            <h3 id="statistics-4" style="color:#F4F4F4;">GIR</h3>
            <label class="item item-input">
                <span class="input-label">GIR</span>
                <input type="text" placeholder="" ng-model="details.gir6">
            </label>
        </label>
            <h3 id="statistics-3" style="color:#F4F4F4;">Score</h3>
            <label class="item item-input">
                <span class="input-label">Score</span>
                <input type="text" placeholder="" ng-model="details.score6">
            </label>
    </label>
            <h3 id="statistics-2" style="color:#F4F4F4;">Putts</h3>
            <label class="item item-input">
                <span class="input-label">Putts</span>
                <input type="text" placeholder="" ng-model="details.puttsno6">
            </label>
</label>
            <h3 id="statistics-1" style="color:#F4F4F4;">Bunkers Hit</h3>
            <label class="item item-input">
                <span class="input-label">Bunkers Hit</span>
                <input type="text" placeholder="" ng-model="details.bunkers6">
            </label>
</label>
            <h3 id="statistics-0" style="color:#F4F4F4;">OOB</h3>
            <label class="item item-input">
                <span class="input-label">OOB</span>
                <input type="text" placeholder="" ng-model="details.oob6">
            </label>
        </form>
        <button style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block" data-ng-click="save6()">Save</button>
        <!--<p>{{response6}}</p>-->

<!-- **************************************************************************************************************************************** -->

<!-- HOLE 7 -->
        <h2 id="statistics-heading3" style="color:#111AEF;">Hole 7</h2>
        <h3 id="statistics-6" style="color:#F4F4F4;">Par</h3>
        <form class="list">
            <label class="item item-input">
                <span class="input-label" >Par (3,4 or 5)</span>
                <input type="text" placeholder="" ng-model="details.Par7">
            </label>
            
            <h3 id="statistics-5" style="color:#F4F4F4;">FIR</h3>
            <label class="item item-input">
                <span class="input-label">FIR</span>
                <input type="text" placeholder="" ng-model="details.fir7">
            </label>
            </label>
            <h3 id="statistics-4" style="color:#F4F4F4;">GIR</h3>
            <label class="item item-input">
                <span class="input-label">GIR</span>
                <input type="text" placeholder="" ng-model="details.gir7">
            </label>
        </label>
            <h3 id="statistics-3" style="color:#F4F4F4;">Score</h3>
            <label class="item item-input">
                <span class="input-label">Score</span>
                <input type="text" placeholder="" ng-model="details.score7">
            </label>
    </label>
            <h3 id="statistics-2" style="color:#F4F4F4;">Putts</h3>
            <label class="item item-input">
                <span class="input-label">Putts</span>
                <input type="text" placeholder="" ng-model="details.puttsno7">
            </label>
</label>
            <h3 id="statistics-1" style="color:#F4F4F4;">Bunkers Hit</h3>
            <label class="item item-input">
                <span class="input-label">Bunkers Hit</span>
                <input type="text" placeholder="" ng-model="details.bunkers7">
            </label>
</label>
            <h3 id="statistics-0" style="color:#F4F4F4;">OOB</h3>
            <label class="item item-input">
                <span class="input-label">OOB</span>
                <input type="text" placeholder="" ng-model="details.oob7">
            </label>
        </form>
        <button style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block" data-ng-click="save7()">Save</button>
        <!--<p>{{response7}}</p>-->

<!-- **************************************************************************************************************************************** -->

<!-- HOLE 8 -->
        <h2 id="statistics-heading3" style="color:#111AEF;">Hole 8</h2>
        <h3 id="statistics-6" style="color:#F4F4F4;">Par</h3>
        <form class="list">
            <label class="item item-input">
                <span class="input-label" >Par (3,4 or 5)</span>
                <input type="text" placeholder="" ng-model="details.Par8">
            </label>
            
            <h3 id="statistics-5" style="color:#F4F4F4;">FIR</h3>
            <label class="item item-input">
                <span class="input-label">FIR</span>
                <input type="text" placeholder="" ng-model="details.fir8">
            </label>
            </label>
            <h3 id="statistics-4" style="color:#F4F4F4;">GIR</h3>
            <label class="item item-input">
                <span class="input-label">GIR</span>
                <input type="text" placeholder="" ng-model="details.gir8">
            </label>
        </label>
            <h3 id="statistics-3" style="color:#F4F4F4;">Score</h3>
            <label class="item item-input">
                <span class="input-label">Score</span>
                <input type="text" placeholder="" ng-model="details.score8">
            </label>
    </label>
            <h3 id="statistics-2" style="color:#F4F4F4;">Putts</h3>
            <label class="item item-input">
                <span class="input-label">Putts</span>
                <input type="text" placeholder="" ng-model="details.puttsno8">
            </label>
</label>
            <h3 id="statistics-1" style="color:#F4F4F4;">Bunkers Hit</h3>
            <label class="item item-input">
                <span class="input-label">Bunkers Hit</span>
                <input type="text" placeholder="" ng-model="details.bunkers8">
            </label>
</label>
            <h3 id="statistics-0" style="color:#F4F4F4;">OOB</h3>
            <label class="item item-input">
                <span class="input-label">OOB</span>
                <input type="text" placeholder="" ng-model="details.oob8">
            </label>
        </form>
        <button style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block" data-ng-click="save8()">Save</button>
        <!--<p>{{response8}}</p>-->

<!-- **************************************************************************************************************************************** -->

<!-- HOLE 9 -->
        <h2 id="statistics-heading3" style="color:#111AEF;">Hole 9</h2>
        <h3 id="statistics-6" style="color:#F4F4F4;">Par</h3>
        <form class="list">
            <label class="item item-input">
                <span class="input-label" >Par (3,4 or 5)</span>
                <input type="text" placeholder="" ng-model="details.Par9">
            </label>
            
            <h3 id="statistics-5" style="color:#F4F4F4;">FIR</h3>
            <label class="item item-input">
                <span class="input-label">FIR</span>
                <input type="text" placeholder="" ng-model="details.fir9">
            </label>
            </label>
            <h3 id="statistics-4" style="color:#F4F4F4;">GIR</h3>
            <label class="item item-input">
                <span class="input-label">GIR</span>
                <input type="text" placeholder="" ng-model="details.gir9">
            </label>
        </label>
            <h3 id="statistics-3" style="color:#F4F4F4;">Score</h3>
            <label class="item item-input">
                <span class="input-label">Score</span>
                <input type="text" placeholder="" ng-model="details.score9">
            </label>
    </label>
            <h3 id="statistics-2" style="color:#F4F4F4;">Putts</h3>
            <label class="item item-input">
                <span class="input-label">Putts</span>
                <input type="text" placeholder="" ng-model="details.puttsno9">
            </label>
</label>
            <h3 id="statistics-1" style="color:#F4F4F4;">Bunkers Hit</h3>
            <label class="item item-input">
                <span class="input-label">Bunkers Hit</span>
                <input type="text" placeholder="" ng-model="details.bunkers9">
            </label>
</label>
            <h3 id="statistics-0" style="color:#F4F4F4;">OOB</h3>
            <label class="item item-input">
                <span class="input-label">OOB</span>
                <input type="text" placeholder="" ng-model="details.oob9">
            </label>
        </form>
        <button style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block" data-ng-click="save9()">Save</button>
        <!--<p>{{response9}}</p>-->


<!-- **************************************************************************************************************************************** -->

<!-- HOLE 10 -->
        <h2 id="statistics-heading3" style="color:#111AEF;">Hole 10</h2>
        <h3 id="statistics-6" style="color:#F4F4F4;">Par</h3>
        <form class="list">
            <label class="item item-input">
                <span class="input-label" >Par (3,4 or 5)</span>
                <input type="text" placeholder="" ng-model="details.Par10">
            </label>
            
            <h3 id="statistics-5" style="color:#F4F4F4;">FIR</h3>
            <label class="item item-input">
                <span class="input-label">FIR</span>
                <input type="text" placeholder="" ng-model="details.fir10">
            </label>
            </label>
            <h3 id="statistics-4" style="color:#F4F4F4;">GIR</h3>
            <label class="item item-input">
                <span class="input-label">GIR</span>
                <input type="text" placeholder="" ng-model="details.gir10">
            </label>
        </label>
            <h3 id="statistics-3" style="color:#F4F4F4;">Score</h3>
            <label class="item item-input">
                <span class="input-label">Score</span>
                <input type="text" placeholder="" ng-model="details.score10">
            </label>
    </label>
            <h3 id="statistics-2" style="color:#F4F4F4;">Putts</h3>
            <label class="item item-input">
                <span class="input-label">Putts</span>
                <input type="text" placeholder="" ng-model="details.puttsno10">
            </label>
</label>
            <h3 id="statistics-1" style="color:#F4F4F4;">Bunkers Hit</h3>
            <label class="item item-input">
                <span class="input-label">Bunkers Hit</span>
                <input type="text" placeholder="" ng-model="details.bunkers10">
            </label>
</label>
            <h3 id="statistics-0" style="color:#F4F4F4;">OOB</h3>
            <label class="item item-input">
                <span class="input-label">OOB</span>
                <input type="text" placeholder="" ng-model="details.oob10">
            </label>
        </form>
        <button style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block" data-ng-click="save10()">Save</button>
        <!--<p>{{response10}}</p>-->


<!-- **************************************************************************************************************************************** -->

<!-- HOLE 11 -->
        <h2 id="statistics-heading3" style="color:#111AEF;">Hole 11</h2>
        <h3 id="statistics-6" style="color:#F4F4F4;">Par</h3>
        <form class="list">
            <label class="item item-input">
                <span class="input-label" >Par (3,4 or 5)</span>
                <input type="text" placeholder="" ng-model="details.Par11">
            </label>
            
            <h3 id="statistics-5" style="color:#F4F4F4;">FIR</h3>
            <label class="item item-input">
                <span class="input-label">FIR</span>
                <input type="text" placeholder="" ng-model="details.fir11">
            </label>
            </label>
            <h3 id="statistics-4" style="color:#F4F4F4;">GIR</h3>
            <label class="item item-input">
                <span class="input-label">GIR</span>
                <input type="text" placeholder="" ng-model="details.gir11">
            </label>
        </label>
            <h3 id="statistics-3" style="color:#F4F4F4;">Score</h3>
            <label class="item item-input">
                <span class="input-label">Score</span>
                <input type="text" placeholder="" ng-model="details.score11">
            </label>
    </label>
            <h3 id="statistics-2" style="color:#F4F4F4;">Putts</h3>
            <label class="item item-input">
                <span class="input-label">Putts</span>
                <input type="text" placeholder="" ng-model="details.puttsno11">
            </label>
</label>
            <h3 id="statistics-1" style="color:#F4F4F4;">Bunkers Hit</h3>
            <label class="item item-input">
                <span class="input-label">Bunkers Hit</span>
                <input type="text" placeholder="" ng-model="details.bunkers11">
            </label>
</label>
            <h3 id="statistics-0" style="color:#F4F4F4;">OOB</h3>
            <label class="item item-input">
                <span class="input-label">OOB</span>
                <input type="text" placeholder="" ng-model="details.oob11">
            </label>
        </form>
        <button style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block" data-ng-click="save11()">Save</button>
        <!--<p>{{response11}}</p>-->


<!-- **************************************************************************************************************************************** -->

<!-- HOLE 12 -->
        <h2 id="statistics-heading3" style="color:#111AEF;">Hole 12</h2>
        <h3 id="statistics-6" style="color:#F4F4F4;">Par</h3>
        <form class="list">
            <label class="item item-input">
                <span class="input-label" >Par (3,4 or 5)</span>
                <input type="text" placeholder="" ng-model="details.Par12">
            </label>
            
            <h3 id="statistics-5" style="color:#F4F4F4;">FIR</h3>
            <label class="item item-input">
                <span class="input-label">FIR</span>
                <input type="text" placeholder="" ng-model="details.fir12">
            </label>
            </label>
            <h3 id="statistics-4" style="color:#F4F4F4;">GIR</h3>
            <label class="item item-input">
                <span class="input-label">GIR</span>
                <input type="text" placeholder="" ng-model="details.gir12">
            </label>
        </label>
            <h3 id="statistics-3" style="color:#F4F4F4;">Score</h3>
            <label class="item item-input">
                <span class="input-label">Score</span>
                <input type="text" placeholder="" ng-model="details.score12">
            </label>
    </label>
            <h3 id="statistics-2" style="color:#F4F4F4;">Putts</h3>
            <label class="item item-input">
                <span class="input-label">Putts</span>
                <input type="text" placeholder="" ng-model="details.puttsno12">
            </label>
</label>
            <h3 id="statistics-1" style="color:#F4F4F4;">Bunkers Hit</h3>
            <label class="item item-input">
                <span class="input-label">Bunkers Hit</span>
                <input type="text" placeholder="" ng-model="details.bunkers12">
            </label>
</label>
            <h3 id="statistics-0" style="color:#F4F4F4;">OOB</h3>
            <label class="item item-input">
                <span class="input-label">OOB</span>
                <input type="text" placeholder="" ng-model="details.oob12">
            </label>
        </form>
        <button style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block" data-ng-click="save12()">Save</button>
        <!--<p>{{response12}}</p>-->


<!-- **************************************************************************************************************************************** -->

<!-- HOLE 13 -->
        <h2 id="statistics-heading3" style="color:#111AEF;">Hole 13</h2>
        <h3 id="statistics-6" style="color:#F4F4F4;">Par</h3>
        <form class="list">
            <label class="item item-input">
                <span class="input-label" >Par (3,4 or 5)</span>
                <input type="text" placeholder="" ng-model="details.Par13">
            </label>
            
            <h3 id="statistics-5" style="color:#F4F4F4;">FIR</h3>
            <label class="item item-input">
                <span class="input-label">FIR</span>
                <input type="text" placeholder="" ng-model="details.fir13">
            </label>
            </label>
            <h3 id="statistics-4" style="color:#F4F4F4;">GIR</h3>
            <label class="item item-input">
                <span class="input-label">GIR</span>
                <input type="text" placeholder="" ng-model="details.gir13">
            </label>
        </label>
            <h3 id="statistics-3" style="color:#F4F4F4;">Score</h3>
            <label class="item item-input">
                <span class="input-label">Score</span>
                <input type="text" placeholder="" ng-model="details.score13">
            </label>
    </label>
            <h3 id="statistics-2" style="color:#F4F4F4;">Putts</h3>
            <label class="item item-input">
                <span class="input-label">Putts</span>
                <input type="text" placeholder="" ng-model="details.puttsno13">
            </label>
</label>
            <h3 id="statistics-1" style="color:#F4F4F4;">Bunkers Hit</h3>
            <label class="item item-input">
                <span class="input-label">Bunkers Hit</span>
                <input type="text" placeholder="" ng-model="details.bunkers13">
            </label>
</label>
            <h3 id="statistics-0" style="color:#F4F4F4;">OOB</h3>
            <label class="item item-input">
                <span class="input-label">OOB</span>
                <input type="text" placeholder="" ng-model="details.oob13">
            </label>
        </form>
        <button style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block" data-ng-click="save13()">Save</button>
        <!--<p>{{response13}}</p>-->


<!-- **************************************************************************************************************************************** -->

<!-- HOLE 14 -->
        <h2 id="statistics-heading3" style="color:#111AEF;">Hole 14</h2>
        <h3 id="statistics-6" style="color:#F4F4F4;">Par</h3>
        <form class="list">
            <label class="item item-input">
                <span class="input-label" >Par (3,4 or 5)</span>
                <input type="text" placeholder="" ng-model="details.Par14">
            </label>
            
            <h3 id="statistics-5" style="color:#F4F4F4;">FIR</h3>
            <label class="item item-input">
                <span class="input-label">FIR</span>
                <input type="text" placeholder="" ng-model="details.fir14">
            </label>
            </label>
            <h3 id="statistics-4" style="color:#F4F4F4;">GIR</h3>
            <label class="item item-input">
                <span class="input-label">GIR</span>
                <input type="text" placeholder="" ng-model="details.gir14">
            </label>
        </label>
            <h3 id="statistics-3" style="color:#F4F4F4;">Score</h3>
            <label class="item item-input">
                <span class="input-label">Score</span>
                <input type="text" placeholder="" ng-model="details.score14">
            </label>
    </label>
            <h3 id="statistics-2" style="color:#F4F4F4;">Putts</h3>
            <label class="item item-input">
                <span class="input-label">Putts</span>
                <input type="text" placeholder="" ng-model="details.puttsno14">
            </label>
</label>
            <h3 id="statistics-1" style="color:#F4F4F4;">Bunkers Hit</h3>
            <label class="item item-input">
                <span class="input-label">Bunkers Hit</span>
                <input type="text" placeholder="" ng-model="details.bunkers14">
            </label>
</label>
            <h3 id="statistics-0" style="color:#F4F4F4;">OOB</h3>
            <label class="item item-input">
                <span class="input-label">OOB</span>
                <input type="text" placeholder="" ng-model="details.oob14">
            </label>
        </form>
        <button style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block" data-ng-click="save14()">Save</button>
        <!--<p>{{response14}}</p>-->

<!-- **************************************************************************************************************************************** -->

<!-- HOLE 15 -->
        <h2 id="statistics-heading3" style="color:#111AEF;">Hole 15</h2>
        <h3 id="statistics-6" style="color:#F4F4F4;">Par</h3>
        <form class="list">
            <label class="item item-input">
                <span class="input-label" >Par (3,4 or 5)</span>
                <input type="text" placeholder="" ng-model="details.Par15">
            </label>
            
            <h3 id="statistics-5" style="color:#F4F4F4;">FIR</h3>
            <label class="item item-input">
                <span class="input-label">FIR</span>
                <input type="text" placeholder="" ng-model="details.fir15">
            </label>
            </label>
            <h3 id="statistics-4" style="color:#F4F4F4;">GIR</h3>
            <label class="item item-input">
                <span class="input-label">GIR</span>
                <input type="text" placeholder="" ng-model="details.gir15">
            </label>
        </label>
            <h3 id="statistics-3" style="color:#F4F4F4;">Score</h3>
            <label class="item item-input">
                <span class="input-label">Score</span>
                <input type="text" placeholder="" ng-model="details.score15">
            </label>
    </label>
            <h3 id="statistics-2" style="color:#F4F4F4;">Putts</h3>
            <label class="item item-input">
                <span class="input-label">Putts</span>
                <input type="text" placeholder="" ng-model="details.puttsno15">
            </label>
</label>
            <h3 id="statistics-1" style="color:#F4F4F4;">Bunkers Hit</h3>
            <label class="item item-input">
                <span class="input-label">Bunkers Hit</span>
                <input type="text" placeholder="" ng-model="details.bunkers15">
            </label>
</label>
            <h3 id="statistics-0" style="color:#F4F4F4;">OOB</h3>
            <label class="item item-input">
                <span class="input-label">OOB</span>
                <input type="text" placeholder="" ng-model="details.oob15">
            </label>
        </form>
        <button style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block" data-ng-click="save15()">Save</button>
        <!--<p>{{response15}}</p>-->

<!-- **************************************************************************************************************************************** -->

<!-- HOLE 16 -->
        <h2 id="statistics-heading3" style="color:#111AEF;">Hole 16</h2>
        <h3 id="statistics-6" style="color:#F4F4F4;">Par</h3>
        <form class="list">
            <label class="item item-input">
                <span class="input-label" >Par (3,4 or 5)</span>
                <input type="text" placeholder="" ng-model="details.Par16">
            </label>
            
            <h3 id="statistics-5" style="color:#F4F4F4;">FIR</h3>
            <label class="item item-input">
                <span class="input-label">FIR</span>
                <input type="text" placeholder="" ng-model="details.fir16">
            </label>
            </label>
            <h3 id="statistics-4" style="color:#F4F4F4;">GIR</h3>
            <label class="item item-input">
                <span class="input-label">GIR</span>
                <input type="text" placeholder="" ng-model="details.gir16">
            </label>
        </label>
            <h3 id="statistics-3" style="color:#F4F4F4;">Score</h3>
            <label class="item item-input">
                <span class="input-label">Score</span>
                <input type="text" placeholder="" ng-model="details.score16">
            </label>
    </label>
            <h3 id="statistics-2" style="color:#F4F4F4;">Putts</h3>
            <label class="item item-input">
                <span class="input-label">Putts</span>
                <input type="text" placeholder="" ng-model="details.puttsno16">
            </label>
</label>
            <h3 id="statistics-1" style="color:#F4F4F4;">Bunkers Hit</h3>
            <label class="item item-input">
                <span class="input-label">Bunkers Hit</span>
                <input type="text" placeholder="" ng-model="details.bunkers16">
            </label>
</label>
            <h3 id="statistics-0" style="color:#F4F4F4;">OOB</h3>
            <label class="item item-input">
                <span class="input-label">OOB</span>
                <input type="text" placeholder="" ng-model="details.oob16">
            </label>
        </form>
        <button style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block" data-ng-click="save16()">Save</button>
        <!--<p>{{response16}}</p>-->

<!-- **************************************************************************************************************************************** -->

<!-- HOLE 17 -->
        <h2 id="statistics-heading3" style="color:#111AEF;">Hole 17</h2>
        <h3 id="statistics-6" style="color:#F4F4F4;">Par</h3>
        <form class="list">
            <label class="item item-input">
                <span class="input-label" >Par (3,4 or 5)</span>
                <input type="text" placeholder="" ng-model="details.Par17">
            </label>
            
            <h3 id="statistics-5" style="color:#F4F4F4;">FIR</h3>
            <label class="item item-input">
                <span class="input-label">FIR</span>
                <input type="text" placeholder="" ng-model="details.fir17">
            </label>
            </label>
            <h3 id="statistics-4" style="color:#F4F4F4;">GIR</h3>
            <label class="item item-input">
                <span class="input-label">GIR</span>
                <input type="text" placeholder="" ng-model="details.gir17">
            </label>
        </label>
            <h3 id="statistics-3" style="color:#F4F4F4;">Score</h3>
            <label class="item item-input">
                <span class="input-label">Score</span>
                <input type="text" placeholder="" ng-model="details.score17">
            </label>
    </label>
            <h3 id="statistics-2" style="color:#F4F4F4;">Putts</h3>
            <label class="item item-input">
                <span class="input-label">Putts</span>
                <input type="text" placeholder="" ng-model="details.puttsno17">
            </label>
</label>
            <h3 id="statistics-1" style="color:#F4F4F4;">Bunkers Hit</h3>
            <label class="item item-input">
                <span class="input-label">Bunkers Hit</span>
                <input type="text" placeholder="" ng-model="details.bunkers17">
            </label>
</label>
            <h3 id="statistics-0" style="color:#F4F4F4;">OOB</h3>
            <label class="item item-input">
                <span class="input-label">OOB</span>
                <input type="text" placeholder="" ng-model="details.oob17">
            </label>
        </form>
        <button style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block" data-ng-click="save17()">Save</button>
        <!--<p>{{response17}}</p>-->

<!-- **************************************************************************************************************************************** -->

<!-- HOLE 18 -->
        <h2 id="statistics-heading3" style="color:#111AEF;">Hole 18</h2>
        <h3 id="statistics-6" style="color:#F4F4F4;">Par</h3>
        <form class="list">
            <label class="item item-input">
                <span class="input-label" >Par (3,4 or 5)</span>
                <input type="text" placeholder="" ng-model="details.Par18">
            </label>
            
            <h3 id="statistics-5" style="color:#F4F4F4;">FIR</h3>
            <label class="item item-input">
                <span class="input-label">FIR</span>
                <input type="text" placeholder="" ng-model="details.fir18">
            </label>
            </label>
            <h3 id="statistics-4" style="color:#F4F4F4;">GIR</h3>
            <label class="item item-input">
                <span class="input-label">GIR</span>
                <input type="text" placeholder="" ng-model="details.gir18">
            </label>
        </label>
            <h3 id="statistics-3" style="color:#F4F4F4;">Score</h3>
            <label class="item item-input">
                <span class="input-label">Score</span>
                <input type="text" placeholder="" ng-model="details.score18">
            </label>
    </label>
            <h3 id="statistics-2" style="color:#F4F4F4;">Putts</h3>
            <label class="item item-input">
                <span class="input-label">Putts</span>
                <input type="text" placeholder="" ng-model="details.puttsno18">
            </label>
</label>
            <h3 id="statistics-1" style="color:#F4F4F4;">Bunkers Hit</h3>
            <label class="item item-input">
                <span class="input-label">Bunkers Hit</span>
                <input type="text" placeholder="" ng-model="details.bunkers18">
            </label>
</label>
            <h3 id="statistics-0" style="color:#F4F4F4;">OOB</h3>
            <label class="item item-input">
                <span class="input-label">OOB</span>
                <input type="text" placeholder="" ng-model="details.oob18">
            </label>
        </form>
        <button style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block" data-ng-click="save18()">Save</button>
        <!-- <p>{{response18}}</p> -->

<!-- **************************************************************************************************************************************** -->

<!-- **************************************************************************************************************************************** -->

<!-- **************************************************************************************************************************************** -->

<!-- **************************************************************************************************************************************** -->

<!-- **************************************************************************************************************************************** -->

<!-- **************************************************************************************************************************************** -->

<!-- **************************************************************************************************************************************** -->

    </ion-content>
</ion-view>